.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}
.header .left{
    display: flex;
    flex-direction: column;
    
}
.header .right{
    display: flex;
   /* align-items: center; */
    gap: 5px;
}
.header .right p{
    padding-top: 10px;
}
.header .right img{
    width: 50px;
    border-radius:50% ;
    margin-left: 10px;
   
}